tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	mso-number-format:"Short Date";}
.xl66
	{mso-style-parent:style0;
	background:#F7F7F7;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\\ \#\,\#\#0";}
.xl68
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\\ \#\,\#\#0\.00\,\,\0022M\0022";}
.xl69
	{mso-style-parent:style0;
	text-align:left;}
.xl70
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\\ \#\,\#\#0\.00\,\0022K\0022";}
.xl71
	{mso-style-parent:style0;
	mso-number-format:0%;}
.xl72
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\\ \#\,\#\#0\,\0022K\0022";}
.xl73
	{mso-style-parent:style0;
	mso-number-format:"_\(* \#\,\#\#0_\)\;_\(* \\\(\#\,\#\#0\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	text-align:left;}
.xl74
	{mso-style-parent:style0;
	mso-number-format:"\#\,\#\#0\.00\,\0022K\0022";}
.xl75
	{mso-style-parent:style0;
	background:#9AE19D;
	mso-pattern:black none;}
